---
layout: base.njk
---
<h2 class="mt-8 mb-8 text-2xl font-serif-title md:mt-24 md:text-4xl">
    <span class="text-vivid-blue-600">Hi, I'm Josh.</span> I write weekly, read daily, think deeply and make things.
</h2>

<p class="text-2xl">
    My latest creative endeavor is a weekly newsletter. In it I share my thoughts on technology, chaos theory, creativity, and joy.
</p>

<div class="max-w-md mx-auto mt-10">
    <!-- Begin Mailchimp Signup Form -->
    <form action="https://joshuakeel.us16.list-manage.com/subscribe/post?u=4a6f5a90ad20717ddb43bbf46&amp;id=1714af77ee" method="post" novalidate>
        
        <input class="w-full p-3 mb-4 border rounded shadow-md border-vivid-blue-600 md:w-64 md:mr-3" type="email" name="EMAIL" placeholder="Your email address">

        <button type="submit" class="w-full p-3 text-white border rounded shadow-md border-vivid-blue-600 bg-vivid-blue-600 md:w-32">Join me</button>
        
        <!-- honeypot field -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_4a6f5a90ad20717ddb43bbf46_1714af77ee" tabindex="-1" value="">
        </div>
    </form>
    <!--End Mailchimp Signup Form -->
</div>

<p class="pb-2 mt-10 font-medium text-gray-700 border-b border-vivid-blue-600">My Latest Work</p>
<ul class="mt-6">
{%- for post in collections.mostRecentPosts -%}
    <li class="flex flex-col mt-4">
        <span class="text-base text-gray-700">{{ post.date | readableDate }}</span>
        <h3>
            <a class="font-serif font-medium" href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
    </li>
{%- endfor -%}
</ul>
<p class="mt-6"><a href="/writing">See all posts ⇢</a></p>