---
layout: base.njk
---
<h2 class="mt-24 text-4xl font-serif mb-8">
    <span class="text-vivid-blue-600">Hi, I'm Josh.</span> I write, read, think and make things.
</h2>

<p class="text-2xl">
    My latest creative endeavor is a weekly newsletter. In it I share my thoughts on technology, chaos theory, creativity, and joy.
</p>

<div class="mt-10 max-w-md mx-auto">
    <input type="text" placeholder="Your email address" class="shadow-md border rounded border-vivid-blue-600 w-64 p-3 mr-3" />
    <button type="submit" class="shadow-md border rounded border-vivid-blue-600 bg-vivid-blue-600 text-white w-32 p-3">Join me</button>
</div>