---
layout: base.njk
---
<h2 class="mt-8 mb-8 text-2xl font-serif-title md:mt-24 md:text-4xl">
    <span class="text-vivid-blue-600">Hi, I'm Josh.</span> I write weekly, read daily, think deeply and make things.
</h2>

<p class="text-2xl">
    My latest creative endeavor is a weekly newsletter. I share my thoughts on habits, creativity, and living a rich, meaningful life.
</p>

{% include 'email-signup.html' %}

<p class="pb-2 mt-16 font-medium text-gray-700 border-b border-vivid-blue-600">My Latest Work</p>
<ul class="mt-6">
{%- for post in collections.mostRecentPosts -%}
    <li class="flex flex-col mt-8">
        <span class="text-base text-gray-700">{{ post.date | readableDate }}</span>
        <h3>
            <a class="font-medium border-b-2 font-serif-title border-vivid-blue-600" href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
    </li>
{%- endfor -%}
</ul>
<p class="mt-8"><a class="border-none" href="/writing">See everything ⇢</a></p>