/* purgecss start ignore */
@tailwind  base;

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Bold'),
        local('Merriweather-Bold'),
        url('assets/merriweather-bold-webfont.woff2') format('woff2'),
        url('assets/merriweather-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Regular'),
        local('Merriweather-Regular'),
        url('assets/merriweather-regular-webfont.woff2') format('woff2'),
        url('assets/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    @apply border-b-2;
    @apply border-vivid-blue-600;
}

a:hover {
    @apply text-vivid-blue-600;
}

article {
    @apply font-serif;
    @apply leading-easy;
}

article h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply font-serif-title;
    @apply mb-2;
}

article h4 {
    @apply text-xl;
    @apply font-bold;
    @apply font-serif-title;
    @apply mb-2;
}

@screen md {
    article h2 {
        @apply text-3xl;
    }
}

article p {
    @apply mb-8;
}

article ul {
    @apply list-disc;
    @apply ml-8;
    @apply mb-8;
}

article li {
    @apply mb-3;
}

article ol {
    @apply list-decimal;
    @apply ml-8;
    @apply mb-8;
}

article img {
    @apply mb-8;
}

figure img {
    @apply mb-0;
}

figure {
    @apply mb-8;
}

figcaption {
    @apply text-gray-700;
    @apply text-base;
    @apply font-sans;
    @apply text-center;
    @apply mt-2;
}

figcaption a {
    @apply border-gray-400;
    @apply border-b;
}

figcaption a:hover {
    @apply border-vivid-blue-600;
}

blockquote {
    @apply ml-8;
    @apply relative;
}

blockquote:before {
    content: '“';
    @apply text-6xl;
    @apply -ml-8;
    @apply -mt-1;
    @apply absolute;
    @apply leading-none;
}

@screen md {
    blockquote {
        @apply ml-16;
    }
}

@screen md {
    blockquote:before {
        @apply text-huge;
        @apply -ml-16;
        @apply -mt-4;
    }
}

hr {
    @apply mb-8;
}

footer a {
    @apply border-b;
    @apply border-gray-400;
}

footer a:hover {
    @apply border-vivid-blue-600;
}

.current-page {
    @apply border-vivid-blue-600;
    @apply border-b-4;
    @apply pb-1;
}

@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;
