<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The writings of Joshua Keel, published weekly.">

    <!-- Facebook Open Graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Joshua Keel" />
    <meta property="og:description" content="I write weekly, read daily, think deeply and make things." />
    <meta property="og:url" content="https://joshuakeel.com/" />
    <meta property="og:site_name" content="Joshua Keel" />
    <meta property="og:image" content="https://joshuakeel.com/assets/me.jpeg" />
    <meta property="og:image:secure_url" content="https://joshuakeel.com/assets/me.jpeg" />
    <meta property="og:image:alt" content="A headshot of Joshua Keel.">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1125" />
    <!-- End Facebook Open Graph -->

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Joshua Keel" />
    <meta name="twitter:site" content="@joshuakeel" />
    <meta name="twitter:image" content="https://joshuakeel.com/assets/me.jpeg" />
    <!-- End Twitter Card -->
    
    <link rel="stylesheet" href="/main-compiled.css">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    {% if page.url === '/' %}
      <link rel="preload" href="/assets/merriweather-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
    {% else %}
      <link rel="preload" href="/assets/merriweather-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
    {% endif %}
    <title>Joshua Keel</title>
  </head>
  <body class="max-w-4xl px-6 font-sans text-lg text-gray-900 md:text-xl md:mx-auto">
    <header class="flex flex-col items-baseline mt-10 text-gray-700 md:flex-row">
      <h1 class="text-xl font-medium md:text-3xl md:font-normal"><a class="border-none hover:text-gray-700" href="/">Joshua Keel</a></h1>
        <nav class="mt-2 text-lg md:mt-0 md:text-xl md:ml-auto">
          <a href="/writing" class="mr-4 md:mr-8 {% if page.url === '/writing/' %} current-page {% else %} border-none {% endif %}">Writing</a>
          <a href="/about" class="mr-4 md:mr-8 {% if page.url === '/about/' %} current-page {% else %} border-none {% endif %}">About</a>
          <a href="/now" class="{% if page.url === '/now/' %} current-page {% else %} border-none {% endif %}">Now</a>
        </nav>
    </header>
    <div class="max-w-2xl mx-auto">
      {{ content | safe }}

      <footer class="flex mt-16 mb-10 text-base text-gray-700">
        <p class="mx-auto">
          This site is hand-crafted with <a href="https://www.11ty.dev/">Eleventy</a>, <a href="https://tailwindcss.com/">Tailwind CSS</a> and love. Global distribution courtesy of <a href="https://www.netlify.com/">Netlify</a>.
        </p>
      </footer>
    </div>
    {% if page.url === '/status/' %}
      <script src="https://widget.stackbit.com/init.js" id="stackbit-widget-init" data-stackbit-project-id="5de595e4f67c3500194ffe36"></script>
    {% endif %}
  </body>
</html>
