<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main-compiled.css">
  </head>
  <body class="max-w-3xl mx-auto text-gray-900 text-xl">
    <header class="flex mt-10 items-baseline text-gray-700 no-underline">
      <h1 class="text-3xl"><a href="/">Joshua Keel</a></h1>
        <nav class="text-xl ml-auto">
          <a href="/writings" class="mr-8 hover:text-vivid-blue-600">Writing</a>
          <a href="/about" class="mr-8 hover:text-vivid-blue-600">About</a>
          <a href="/now" class="hover:text-vivid-blue-600">Now</a>
        </nav>
    </header>
    <div class="max-w-2xl mx-auto">
      {{ content | safe }}

      <footer class="text-base text-gray-700 mt-32 mb-10 flex">
        <p class="mx-auto">
          This site is hand-crafted with <a href="https://www.11ty.io/">Eleventy</a>, <a href="https://tailwindcss.com/">Tailwind CSS</a>, and love. Global distribution courtesy of <a href="https://www.netlify.com/">Netlify</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
