<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main-compiled.css">
  </head>
  <body class="max-w-3xl px-6 font-sans text-lg text-gray-900 md:text-xl md:mx-auto">
    <header class="flex flex-col items-baseline mt-10 text-gray-700 no-underline md:flex-row">
      <h1 class="text-xl font-medium md:text-3xl md:font-normal"><a class="hover:text-gray-700" href="/">Joshua Keel</a></h1>
        <nav class="text-lg md:text-xl md:ml-auto">
          <a href="/writing" class="mr-4 md:mr-8">Writing</a>
          <a href="/about" class="mr-4 md:mr-8">About</a>
          <a href="/now">Now</a>
        </nav>
    </header>
    <div class="max-w-2xl mx-auto">
      {{ content | safe }}

      <footer class="flex mt-16 mb-10 text-base text-gray-700">
        <p class="mx-auto">
          This site is hand-crafted with <a href="https://www.11ty.io/">Eleventy</a>, <a href="https://tailwindcss.com/">Tailwind CSS</a>, and love. Global distribution courtesy of <a href="https://www.netlify.com/">Netlify</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
