---
layout: base.njk
---
<article class="mt-10 md:mt-16">

<h1 class="pb-2 mb-10 text-2xl font-semibold border-b md:text-2xl-bigger border-vivid-blue-600 font-serif-title">{{ title }}</h1>

{{ content | safe }}

</article>