---
layout: base.njk
---
<article class="mt-16">

<h1 class="text-2.5xl font-semibold mb-1">{{ title }}</h1>

<p class="text-base text-gray-700 mb-10 border-b border-vivid-blue-600 pb-2">January 4, 2019</p>

{{ content | safe }}

</article>