---
title: Books I've Read
permalink: reading/index.html
---
<p>Books I've read (or listened to), updated each time I complete a book, or remember a book I've read in the past and add it.</p>

<p>This page is relatively new, but will be frequently updated. Last update was April 19, 2021.</p>

<ol class="ml-0 list-none">
{%- for book in books -%}
    <li class="flex flex-col mt-8">
        <h2 class="mb-0 text-lg italic md:text-xl"><a href="{{ book.url }}">{{ book.title }}</a></h2>
        <div>By {{ book.author }}</div>
        <div>Date finished: {{ book.dateRead }}</div>
        <div>Rating: {{ book.rating }}/10</div>
    </li>
{%- endfor -%}
</ol>